<!doctype html>
<html lang="en"  data-bs-theme="dark">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}

      <title>Avatar Model Generator</title>
  </head>
  <body>
      <div class="container">
          <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="{{ url_for("index") }}"></use></svg>
              <span class="fs-4">Avatar Model Generator</span>
            </a>
      
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="{{ url_for("index") }}" class="nav-link active" aria-current="page">Home</a></li>
            </ul>
          </header>
        </div>

        <div class="container">
          <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>    
          </div>
          <div class="container m-3">
              <h1 class="display-6">Step 2</h1>
              <p class="lead">
                  Next up! We need an avatar image that allows us to generate a lively avatar that follow
                  the beat! Drop an image to proceed to the final step!
              </p>
          </div>
          
          <!-- Upload image -->
          <form method="POST" action="" enctype="multipart/form-data">
              <label for="formFile" class="form-label">Default file input example</label>
              <p><input class="form-control" type="file" name="file" id="formFile" accept=".png"></p>

              <p><input type="submit" class="btn btn-primary"></p>
          </form>

          <hr>

          <!-- Show image -->
          {% if filename %}
          <div class="text-center">
              <img src="{{ filename }}" alt="image" class="img-fluid mb-3" style="max-width: 200px;">
              <div class="d-grid gap-2">
                <a href="{{ url_for("step3") }}" class="btn btn-primary" type="button">Next</a>
              </div>
          {% endif %}
          </div>
        </div>
      
        
  </body>
</html>