<!doctype html>
<html lang="en"  data-bs-theme="dark">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}

      <title>Avatar Model Generator</title>
  </head>
  <body>

          <div class="container">
              <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="{{ url_for("index") }}"></use></svg>
                  <span class="fs-4">Avatar Model Generator</span>
                </a>
          
                <ul class="nav nav-pills">
                  <li class="nav-item"><a href="{{ url_for("index") }}" class="nav-link active" aria-current="page">Home</a></li>
                </ul>
              </header>
            </div>
  
            <div class="container">
              <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>    
              </div>
              <div class="container m-3">
                  <h1 class="display-6">Step 3</h1>
                  <p class="lead">
                      Output is done!
                  </p>
              </div>

              {% if filename %}
              <video width=512 controls>
                  <source src="{{ url_for('result', file = filename) }}" type="video/mp4">
              </video>
              {% endif %}
          </div>
              
  </body>
</html>